.page-heading {
  width: 100%;
  display: inline-block;
  clear: both;
  background: #eaedf2;
  margin-bottom: 20px;
  z-index: 1;
}
.section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}
div {
  display: block;
  unicode-bidi: isolate;
}
